<h1>Album</h1>

<div class="mt-3">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <img [src]="albumData.images[1].url" height="135px" width="135px">   
        </div>
        <div class="col-md-4 col-sm-8">
            <p>{{albumData.release_date|date:'yyyy'}}</p>
            <h3>{{albumData.name}}</h3>
            <span *ngFor="let artista of albumData.artists"  class="badge badge-dark">{{artista.name}}</span>                    
        </div>           
    </div>    
</div>

<div style="margin-top: 50px; padding-bottom: 50px;">
    <table class="table table-dark" style="background-color: #343a40;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Artista(s)</th>
            <th scope="col">Duración</th>
            <th scope="col">Play</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let song of albumData.tracks.items;let i = index">   
            <td>{{i}}</td>         
            <td>{{song.name}}</td>  
            <td> <a  [routerLink]="['/artist']" [queryParams]="{id: artistatrack.id}"  *ngFor="let artistatrack of albumData.tracks.items[i].artists" class="badge badge-primary">{{artistatrack.name}}</a></td> 
            <td>{{song.duration_ms | miliseconstominutes}}</td>
            <td>
              
            </td>                   
        </tr>      
        </tbody>
    </table>
</div>